doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
    title LoopQuest - Login
  body
    .question-container
      h1 Welcome to LoopQuest!
      h2 Log In
      form(action="/login" method="POST")
        .options-grid
          input.option-btn(type="text" name="username" placeholder="Username" required)
          input.option-btn(type="password" name="password" placeholder="Password" required)
          button.submit-btn(type="submit") Login