html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
    title Game Rules
  body
    .container 
      main.rules-box
          h1 Game Rules:
        
          p Read the instructions before starting the game.

          h3 How to Play
          ul
            li Roll the dice.
            li Move your token on the game board.
            li If you land on a QR tile, scan the QR code.
            li Answer the Python loop question.
            li If your answer is wrong, skip your next turn.
            li If your answer is correct, continue playing.

          h3 Scoring
          
          p Final score is calculated based on:
          p Correct Answers / Total Attempts × 100%

          h2 The player with the highest score wins.
          
          p.return-message Return to the physical board to begin the game.
          a.submit-btn(href="/leaderboard") View Leaderboard
          